* {
    margin: 0;
    padding: 0;
}

#principal {
    width: 900px;

}

body {
    font:16px Arial,Helvetica, sans-serif;
    background-image: url(imagens/fundo.png);
}

#menu {
    width: 900px;
    background-color: #D3D3BC;
    padding: 10px 0px;

}

a {
    text-decoration: none;
    padding:  5px;
    font-weight: bold;
    color: #5b566a;

}

#conteudo {
    width: 900px;
    background-color: #ffffff;

}
.borda-img{
    border: 10px solid #5b566a;
    margin: 20px;
}
h1{
    font-size: 1.2em;;
    color: #5b566a;
    padding:10px;
}
#conteudo p{
    margin:10px
}

.footer {
    width: 900px;
    

}
.centralizar{
    text-align: center;
}